/* tags */
body{
    text-align: center;
}
/* IDs */
#login {
    background-color: black;
    color: blanchedalmond;
}

#registre {
    background-color: blue;
    color: white;
}
/* Classes */
.copy {
    font-size: 10px;
}